In [10]:
import pandas as pd

In [12]:
df = pd.read_json("data.json")

In [21]:
df.groupby(["http_version", "connections"]).plt.mean().to_frame()

                               plt
http_version connections
1            1            3.017778
             6            2.212222
2            1            3.178889
             6            3.486667