In [75]:
import json
import pandas as pd

In [60]:
with open("dump.txt") as f:
    objs = f.read().split("--------------------------------------------")

In [73]:
objs = [json.loads(x) for x in objs if x!="\n" and ":}" not in x]

In [77]:
df = pd.DataFrame(objs)

In [81]:
df["cache"] = df.apply(lambda x : True if x["cache"]==1 else False, axis=1)

In [95]:
def http_version(website):
    f = lambda x, li : any([ c in x for c in  li ]) 
    dom = website.split("://")[1]
    
    if f(dom, ["unipv", "pythonanywhere", "mit"]):
        return "http1"
    if f(dom, ["github", "archive", "stackoverflow"]) :
        return "http2"
    if f(dom,  ["maxgames", "go", "mclab"]):
        return "unsecure-http1"

In [104]:
df["http_version"] = df.apply(lambda x : http_version(x["website"]), axis=1)

In [107]:
df.groupby(["http_version", "cache"]).mean()

                      number_requests  plt_seconds
http_version   cache
http1          False        39.950000     2.343500
               True         29.923077     1.543077
http2          False        80.083333     3.708333
               True         56.333333     2.652667
unsecure-http1 False        78.666667     4.010000
               True         45.500000     3.580000

In [109]:
# df